.board {
  --box-size: 30rem;
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
  width: var(--box-size);
  height: var(--box-size);
  margin: 10rem auto;
}
.reset-button {
  font-size: var(--fs-l);
  background-color: var(--mono-5);
  color: var(--white);
}
