.board-box {
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-xxl);
  cursor: pointer;
  margin: 0;
}
.board-box:nth-child(5) {
  border: 0.5rem solid var(--black);
}
.board-box:nth-child(2),
.board-box:nth-child(8) {
  border-left: 0.5rem solid var(--black);
  border-right: 0.5rem solid var(--black);
}
.board-box:nth-child(4),
.board-box:nth-child(6) {
  border-top: 0.5rem solid var(--black);
  border-bottom: 0.5rem solid var(--black);
}
